@import "../../dep/est/2.0.0/src/all.less";

.global-normalize();

html,
body,
.main {
    .size(100%);
    margin: 0;
    padding: 0;
    background-color: #ffdd82;
}

.main {
    #turn-table {
        .size(90%);
        margin: auto;
        margin-top: 10%
    }
}